1.Schemas/Resources/Schemas/SharedProcesses/WriteToFileResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns:WriteToFileResponse="http://www.tibco.com/schemas/0.ProjectZero/Resources/Schemas/SharedProcesses/WriteToFileResponse"
	 xmlns:Header="http://www.tibco.com/schemas/0.ProjectZero/Resources/Schemas/Models/Header"
	 xmlns:Response="http://www.tibco.com/schemas/0.ProjectZero/Resources/Schemas/Commons/Response"
	 xmlns:ns0="http://www.tibco.com/schemas/0.ProjectZero/Resources/Schemas/Models/Header"
	 xmlns:ns1="http://www.tibco.com/schemas/0.ProjectZero/Resources/Schemas/Commons/Response"
	 targetNamespace="http://www.tibco.com/schemas/0.ProjectZero/Resources/Schemas/SharedProcesses/WriteToFileResponse"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.tibco.com/schemas/0.ProjectZero/Resources/Schemas/Models/Header" schemaLocation="../Commons/Header.xsd"/>
	<xs:import namespace="http://www.tibco.com/schemas/0.ProjectZero/Resources/Schemas/Commons/Response" schemaLocation="../Commons/Response.xsd"/>
	<xs:element name="WriteToFileResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ns0:Header"/>
				<xs:element ref="WriteToFileResponse:Body"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Body">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ns1:Response"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="message" type="xs:string"/>
</xs:schema>